{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">

            <h4>Booking Payment Summary</h4>

        </div>

        <div class="card-body">

            <table class="table table-bordered table-striped">

                <thead class="table-dark">

                    <tr>

                        <th>Guest</th>
                        <th>Room</th>

                        <th>Restaurant</th>
                        <th>Paid</th>
                        <!--<th>Balance</th>-->

                        <th>Service</th>
                        <th>Paid</th>
                        <!--<th>Balance</th>-->

                        <th>Room</th>
                        <th>Paid</th>
                        <!--<th>Balance</th>-->
                        <th class="text-danger">Total Balance</th>

                    </tr>

                </thead>

                <tbody>

                    {% for item in summary %}

                    <tr>

                        <td>
                            {{ item.booking.guest }}
                        </td>

                        <td>
                            {{ item.booking.room }}
                        </td>

                        <!-- RESTAURANT -->

                        <td>
                            ${{ item.restaurant_total|floatformat:2 }}
                        </td>

                        <td class="text-success">
                            ${{ item.restaurant_paid|floatformat:2 }}
                        </td>

                        <!--<td class="text-danger">
                            ${{ item.restaurant_balance|floatformat:2 }}
                        </td>-->


                        <!-- SERVICE -->

                        <td>
                            ${{ item.service_total|floatformat:2 }}
                        </td>

                        <td class="text-success">
                            ${{ item.service_paid|floatformat:2 }}
                        </td>

                        <!--<td class="text-danger">
                            ${{ item.service_balance|floatformat:2 }}
                        </td>


                        <!-- ROOM -->

                        <td>
                            ${{ item.room_total|floatformat:2 }}
                        </td>

                        <td class="text-success">
                            ${{ item.room_paid|floatformat:2 }}
                        </td>

                       <!--  <td class="text-danger">
                            ${{ item.room_balance|floatformat:2 }}
                        </td>-->
                        <td class="text-danger">
                            ${{ item.total_balance|floatformat:2 }}
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}